/* bakbak-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bakbak One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/bakbak-one-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


.article h1 {
  font-family: 'Bakbak One';
  font-style: normal;
  font-weight: 400;
}

html, body, div, article, aside {
    margin: 0;
}

.siderbar h1 {
    width: 50%;
    float: right;
    margin: 0;
    background-color: gray;
}